<div class="main_container">

  <form class="form_container" [formGroup]="form">
    <h1 class="main_title">Thermocouple Calculator:</h1>

    <mat-form-field>
      <mat-label>Calculate:</mat-label>
      <mat-select formControlName="calc_type" name="calculate">
        @for (calculate of calculate; track calculate) {
        <mat-option [value]="calculate.value">{{calculate.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Thermocouple:</mat-label>
      <mat-select formControlName="thermo_type"  name="thermocouple">
        @for (thermocouple of thermocouple; track thermocouple) {
        <mat-option [value]="thermocouple.value">{{thermocouple.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form_container_input">
      <mat-label>Temperature Range:</mat-label>
      <input disabled [value]="temperatureRange" matInput>
    </mat-form-field>
    <mat-form-field class="form_container_input">
      <mat-label>Voltage Range:</mat-label>
      <input disabled [value]="voltageRange" matInput>
    </mat-form-field>
  <mat-form-field class="form_container_input">
    <mat-label>Ambient Temperature: </mat-label>
    <input matInput  formControlName="tempamb" type="number" class="example-right-align" placeholder="0">
  </mat-form-field>

    <mat-form-field>
      <mat-select formControlName="scale_type" name="typeTemperature">
        @for (typeTemperature of typesTemperature; track typeTemperature) {
        <mat-option [value]="typeTemperature.value">{{typeTemperature.viewValue}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
    <mat-form-field class="form_container_input">
      <mat-label>Voltage(mV): </mat-label>
      <input matInput type="number" formControlName="mv_read" class="example-right-align" placeholder="0">
    </mat-form-field>
    <mat-form-field class="form_container_input">
      <mat-label>Temperature(°C):</mat-label>
      <input matInput type="number" formControlName="temp_in" class="example-right-align" placeholder="0">
    </mat-form-field>
<div class="form_calculate-button-container">
  <button mat-raised-button color="primary"
          (click)="thermCalc()"
          class="form_calculate-button">Calculate</button>
</div>

  </form>
</div>
