/* You can add global styles to this file, and also import other style files */
@import '../node_modules/@angular/material/prebuilt-themes/indigo-pink.css';

body {
  width: 100%;
  min-height: 1500px;
  overflow-y: scroll;
  overflow-x: hidden;
  background: #325266;
}
